<div class="row">
  <div class="col-md-12">
    <%= form_with(model: user, url: (user.new_record? ? control_users_path : control_user_path(user)), local: true) do |form| %>
      <% if user.errors.any? %>
        <div class="alert alert-danger">
          <h5><%= t('errors_on_save') %></h5>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.user.name'), autofocus: true %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :email %>
          <%= form.email_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div class="btn-group pull-right">
            <%= link_to t('back'), control_users_path, class: 'btn btn-default' %>
            <%= form.submit class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>