<h3 class="text-center"><%= t('navigation.users.edit', amount: @user.product_logs.count) %></h3>

<%= render 'form', user: @user %>
<%= render 'products/product_logs', product_logs: @user.product_logs %>