<h3 class="text-center"><%= t('navigation.users.title') %></h3>
<table class="table mt-3 mb-3 datatable">
  <thead>
    <tr>
      <th data-data="name">Nome</th>
      <th data-data="email">E-mail</th>
      <th>Atividades em Produtos</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=user.name%></td>
      <td><%=user.email%></td>
      <td><%=user.product_logs.count%></td>
      <td>
        <%= link_to 'Exibir Detalhes e Log de Alterações', edit_control_user_path(user), class: 'btn btn-sm btn-primary' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>