@import "bootstrap-sprockets";
@import "bootstrap";
/* Show it is fixed to the top */

body:not(.sessions) {
	min-height: 60rem;
	padding-top: 5.5rem;
}

#error_explanation {
	padding: 7px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul{
	margin-bottom: 0;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

.jumbotron{
	margin-top: 2em;
	padding: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}