<div class="row">
  <div class="col-md-12">
    <%= form_with(model: product, local: true) do |form| %>
      <% if product.errors.any? %>
      <div class="alert alert-danger">
        <h5><%= t('errors_on_save') %></h5>
        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-row">
        <div class="form-group col-md-12">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control', placeholder: t('activerecord.attributes.product.name'), autofocus: true %>
        </div>
      </div>

      <div class="form-group">
				<div class="col-md-12">
          <div class="btn-group pull-right">
            <%= link_to t('back'), products_path, class: 'btn btn-default' %>
            <%= link_to 'Aumentar', product_add_quantity_path(product), class: 'btn btn-primary' if can_add_product_log?(product) %>
            <%= link_to 'Diminuir', product_remove_quantity_path(product), class: "btn btn-info" if can_remove_product_log?(product) %>
            <%= form.submit class: "btn btn-primary" %>
          </div>
				</div>
			</div>
    <% end %>
  </div>
</div>

