<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="text-center"><%= t('navigation.product_logs.title') %></h3>
    <table class="table mt-3 mb-3 datatable">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Ação</th>
          <th>Data e Hora</th>
        </tr>
      </thead>
    
      <tbody>
        <% product_logs.each do |product_log| %>
          <tr>
            <td><%= product_log.user.name %></td>
            <td><%= product_log.add? ? 'Aumentou' : 'Diminuiu' %></td>
            <td><%= l product_log.created_at, format: :long %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

