<h3 class="text-center"><%= t('navigation.products.title') %></h3>

<table class="table mt-3 mb-3 datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.amount %></td>
        <td>
          <div class='btn-group'>
            <%= link_to 'Aumentar', product_add_quantity_path(product), class: 'btn btn-sm btn-primary' if can_add_product_log?(product) %>
            <%= link_to 'Diminuir', product_remove_quantity_path(product), class: "btn btn-sm btn-info" if can_remove_product_log?(product) %>
            <%= link_to 'Exibir Detalhes e Log de Alterações', edit_product_path(product), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Remover', product, method: :delete, data: { confirm: 'Tem certeza de realizar esta ação?' }, class: 'btn btn-sm btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>