<!DOCTYPE html>
<html>
  <head>
    <title><%=t(:system_name)%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="<%=controller_name%>">
    <header role="banner">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collpase-1">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to t('navigation.root'), root_path, class: 'navbar-brand' %>
          </div>
          <div class="navbar-collpase collpase" id="bs-example-navbar-collpase-1">
            <ul class="nav navbar-nav">
              <li class="<%=current_class?(root_path)%><%=current_class?(products_path)%>"><%= link_to t('navigation.products.list'), products_path %></li>
              <li class="<%=current_class?(new_product_path)%>"><%= link_to t('navigation.products.new'), new_product_path %></li>
              <li class="<%=current_class?(control_users_path)%>"><%= link_to t('navigation.users.list'), control_users_path %></li>
              <li class="<%=current_class?(new_control_user_path)%>"><%= link_to t('navigation.users.new'), new_control_user_path %></li>
              <li class="<%=current_class?(destroy_user_session_path)%>"><%= link_to t('navigation.logout'), destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |key, message| %>
            <div class="text-center alert alert-<%=key == 'notice' ? 'success' : 'danger' %>">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </main>
  </body>
</html>
